html {
  font-family: Helvetica, sans-serif;
}

header {
  height: 64px;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 32px;
}

.logo-image {
  flex-direction: row;
}

.logo span {
  color: gray;
  font-weight: normal;
  align-items: center;
}

.colmar {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.academy {
  color: gray;
  font-size: 32px;
}

.header-content nav {
  align-items: flex-end;
}

.header-content nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 4px;
}

.mobile-navigation {
  display: none;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

@media only screen and (min-width: 580px){
.mobile {
  display: none;
}

.intro-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightblue;
}

.banner-image {
  padding: 32px 24px;
  width: 60%;
}

.banner-text {
  padding: 24px 32px;
}

.banner-text h1, h2 {
  margin-bottom: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

button {
  background: #484f4f;
  width: 100%;
  padding: 8px 0;
  color: white;
}

.practice-container {

}
