@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v8/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(https://fonts.gstatic.com/s/alegreyasans/v8/11EDm-lum6tskJMBbdy9acrysgx4XYXiGyd0rEkyLBs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html {
  font-family: 'Alegreya Sans' sans-serif;
  color: #696969;
}

h1 {
  font-size: 48px;
  color: white;
}

h2 {
  font-size: 32px;
  color: white;
}

/*top logo bar*/

header {
  height: 64px;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  height: 32px;
}

.logo-image {
}

.colmar {
  color: black;
  font-weight: bold;
}

.academy {
  color: gray;
  font-weight: normal;
}

.school-name {
  align-self: center;
}
/*top navigation*/

.header-content nav {
  align-items: flex-end;
}

.header-content nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
}

.header-content nav a:hover {
  color: blue;
}

.header-content-mobile {
  display: none;
}

/*first section*/

.intro-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1F78B2;
}

.banner-image {
  display: flex;
  padding: 32px 24px;
  width: 60%;
}

.banner-image-mobile {
  display: none;
}

/*first block side text*/

.banner-text {
  padding: 24px 32px;
}

.banner-text h1, h2 {
  margin-bottom: 24px;
  text-shadow: 1px 1px 1px #696969;
}

button {
  background: #484f4f;
  width: 100%;
  padding: 8px 0;
  color: white;
}

button:hover {
  background-color: #FFB40D;
  color: black;
}

/*second block*/

.practice-container {
 display: flex;
 flex-direction: row;
 padding-bottom: 32px;
}

/*secong block left side*/


.left-container {
  width: 60%;
}

.left-container img, .practice-text p, .practice-text h1 {
  width: 95%;
  padding: 32px 24px;
}

.practice-text p {
  font-size: 20px;
}

.practice-text .credit {
  padding-bottom: 32px;
  font-size: 20px;
}

/*second block right side*/

.right-container {
  width: 40%;
}

.right-container a {
  text-decoration: none;
}

.practice-text h1 {
  color: #696969;
}

/*second block left side orientation box*/

.orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #1F78BF;
}

.orientation-image {
  width: 35%;
  padding: 32px 16px;
}

.orientation-image-mobile {
  display: none;
}

.orientation-text {
  width: 65%;
  padding: 32px 16px;
  font-size: 20px;
}

.orientation-text a {
  color: blue;
}

.orientation-text p {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*second block left side campus box*/

.campus {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #1F78BF;
}

.campus-image {
  width: 35%;
  padding: 32px 16px;
}

.campus-image-mobile {
  display: none;
}

.campus-text {
  width: 65%;
  padding: 32px 16px;
  font-size: 20px;
}

.campus-text a {
  color: blue;
}

.campus-text p {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*second block left side lecture box*/

.lecture {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #1F78BF;
  background-color: #FFB40D;
  margin-bottom: 32px;
}

.lecture-image {
  width: 35%;
  padding: 32px 16px;
}

.lecture-image-mobile {
  display: none;
}

.lecture-text {
  width: 65%;
  padding: 32px 16px;
  font-size: 20px;
}

.lecture-text a {
  color: blue;
}

.lecture-text p {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*third block*/

.start-learning-container {
  background-color: #1F78B2;
}

.start-learning-container .title {
  display: flex;
  padding-top: 64px;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px #696969;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 72px;
}

.engineering, .computer, .design, .data, .business, .marketing {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 30%;
  margin: 32px 16px;
  background-color: white;
}

.engineering-mobile, .computer-mobile, .design-mobile, .data-mobile, .business-mobile, .marketing-mobile {
  display: none;
}

.engineering p, .computer p, .design p, .data p, .business p, .marketing p {
  font-size: 20px;
}

.engineering-text, .computer-text, .design-text, .data-text, .business-text, .marketing-text {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: gray;
  margin-bottom: 24px;
}

.heading {
  font-weight: bold;
  font-size: 32px;
  color: #696969;
}

.courses-container .subheading {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*fourth block*/

.thesis-container {
  background-color: white;
  padding-top: 16px;
}

.thesis-container .title {
  display: flex;
  padding: 16px;
  justify-content: center;
  font-weight: bold;
}

.thesis-container .title h1 {
  color: #696969;
}

/*fourth block left side*/

.left-container video {
  width: 95%;
  padding: 32px 24px;
}

/*fourth block left side text*/

.thesis-content {
  display: flex;
  flex-direction: row;
}

.thesis-text {
  margin: 24px;
  font-size: 20px;
}

.thesis-text h1 {
  margin-bottom: 8px;
  color: #696969;
}

/*fourth block right side*/

.right-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 32px;
}

.fisma, .new-york {
  display: flex;
  flex-direction: row;
}

.fisma-text, .new-york-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.fisma-text p, .new-york-text p {
  font-size: 20px;
}

.fisma-image, .new-york-image {
  margin: 24px;
  width: 35%;
}

.fisma {
  background-color: #FFB40D;
}

.fisma-text p, .new-york-text p, .thesis-text p {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.new-york {
  margin-bottom: 32px;
}

/*footer section*/

footer {
  border-top: 1px solid gray;
  color: gray;
}

.footer-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
}

/*footer menu*/

.menu {
  display: flex;
  flex-direction: row;
}

.terms {
  margin-right: 16px;
  text-decoration: none;
}

.privacy {
  text-decoration: none;
}

/*Responsive Code*/

/*logo navigation bar*/
@media only screen and (min-width: 481px) and (max-width: 840px) {
  .intro-banner {
    flex-direction: column;
  }

  .banner-img {
    padding: 0px;
  }
}

@media only screen and (max-width: 480px) {
.header-content-mobile {
  display: block;
}

.mobile-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  height: 64px;
}

.header-content {
  display: none;
}

.logo {
  display: none;
}
}

/*first block*/
@media only screen and (min-width: 481px) and (max-width: 840px) {
  .banner-image {
    width: 100%;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 480px) {
  .intro-banner {
    flex-direction: column;
  }

  .banner-image {
    width: 100%;
    padding: 0px;
  }

  .banner-text h1 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .banner-text h2 {
    padding-bottom: 24px;
  }

  button {
    margin-bottom: 32px;
  }
}
  /*second block*/
@media only screen and (min-width: 481px) and (max-width: 840px) {
  .practice-container {
    flex-direction: column;
  }

  .orientation, .campus, .lecture {
    flex-direction: column;
    }

  .practice-text h1, .practice-text p {
    padding: 16px 12px;
  }

  .right-container, .left-container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
    padding: 0px;
  }

  .practice-container {
    padding-bottom: 0px;
  }

  .orientation, .campus, .lecture {
    border: 0px;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
  }

  .orientation-image, .campus-image, .lecture-image {
    display: none;
  }

  .orientation-image-mobile, .campus-image-mobile, .lecture-image-mobile {
    display: block;
    width: 100%;
    padding: 16px;
    align-items: center;
  }

  .lecture {
    background-color: white;
    margin-bottom: 0px;
  }

  .orientation-text, .campus-text, .lecture-text {
    width: 100%;
    padding: 16px;
    margin-left: 32px;
    justify-content: center;
    }
  }

  /*third block*/
@media only screen and (min-width: 481px) and (max-width: 840px) {
  .courses-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .engineering, .computer, .design, .data, .business, .marketing {
    width: 75%;
    justify-content: center;
    background-color: #1F78B2;
  }

  .engineering-image, .computer-image, .design-image, .data-image, .business-image, .marketing-image {
    width: 90%;
    align-self: center;
  }

  .engineering-text, .computer-text, .design-text, .data-text, .business-text, .marketing-text {
    align-self: center;
    margin: 0px;
    color: white;
  }

  .courses-container .heading {
    color: white;
  }
}

@media only screen and (max-width: 480px) {
  .engineering-mobile, .computer-mobile, .design-mobile, .data-mobile, .business-mobile, .marketing-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1F78B2;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
  }

  .engineering-mobile a, .computer-mobile a, .design-mobile a, .data-mobile a, .business-mobile a, .marketing-mobile a {
    font-size: 24px;
    color: white;
    padding: 16px;
    text-decoration: none;
  }

  .engineering, .computer, .design, .data, .business, .marketing {
    display: none;
  }

  .title {
    background-color: white;
  }

  .title h1 {
    background-color: white;
    color: #696969;
    text-shadow: 0px 0px 0px;
  }

  .courses-container {
    background-color: white;
  }
}

/*fourth block*/
@media only screen and (min-width: 481px) and (max-width: 840px) {
  .thesis-content {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 480px) {
  .thesis-container video {
    display: block;
    height: auto;
  }

  .fisma, .new-york {
    flex-direction: column;
  }

  .fisma-image, .new-york-image, .fisma-text, .new-york-text {
    width: 90%;
  }

  .fisma-text, .new-york-text {
    padding-left: 16px;
  }
}

/*footer*/
@media only screen and (min-width: 481px) and (max-width: 840px) {

}

@media only screen and (max-width: 480px) {
  .footer-text .menu {
    display: none;
  }

  .rights {
    align-self: center;
    padding: 16px;
  }
}
